/* Defaults */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

h1, 
h2 {
  font-family: 'Mukta', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
}

header,
footer,
.projects {
  padding-top: 2em;
  padding-bottom: 2em ;
}

/* Main Styling */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.vertical-spacing > * {
  margin-top: 1rem;
}

.icon {
  font-size: 2rem;
  width: 2rem;
}

/* Page */

.banner {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 500px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  background-color: pink;
}

/* Header */

.photo-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.photo {
  box-shadow: rgb(110, 110, 110) 3px 3px 10px;
}

.name {
  color: #fff;
  font-size: 4.5rem;
  position: absolute;
  bottom: .1em;
  left: .2em;
  line-height: 100%;
  text-shadow: 1px 1px black; 
}

.about-me-title {
  text-align: center;
}

.about-me-text {
  opacity: .6;
  line-height: 150%;
}

.about-me-icons {
  text-align: center;
}

/* Projects */

.projects-container {
  padding: 1em 0;
}

.projects-title {
  text-align: center;
}

.project-card {
  box-shadow: darkgray 3px 3px 10px;
  margin-bottom: 4em;
}

.project-card-info {
  opacity: .7;
  text-align: center;
  padding: 1em 1em 2em 1em;
}

.project-card-picture {
  background-color: pink;
  height: 15em;
}

.project-card-title {
  font-size: 1.7rem;
}

.project-title-and-icons {
  display: flex;
  justify-content: space-around;
}

.project-card-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

.project-card-text {
  margin-top: 1em;
}

/* Footer */

footer {
  background-color: pink;
}

.footer-title {
  text-align: center;
}

.footer-icons {
  margin-top: 2em;
  text-align: center;
}

/* Media Queries */

/* Tablet */

@media (min-width: 700px) {
  .container {
    width: 80%;
  }

  /* Header */
  .header-container {
    position: relative;
    margin-top: 2em;
    margin: 0 auto;
    padding: 1em 0;
  }

  .photo-container {
    position: relative;
    float: left;
    margin-right: 1em;
    max-width: 50%;
    transform: translate(-1em, -1em);
  }

  .name {
    top: 10%;
    left: 80%;
    white-space: nowrap;
  }

  .about-me-container {
    margin-top: 10em;
    padding: 2em;
    background-color: #fff;
    box-shadow: darkgray 3px 3px 10px;
  }

  /* Projects */

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }

  .projects-title {
    text-align: left;
  }

}


