/* Defaults */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

h1, 
h2 {
  font-family: 'Mukta', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
}

header,
.projects {
  padding-top: 2em;
}

/* Main Styling */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.vertical-spacing > * {
  margin-top: 1rem;
}

/* Page */

.banner {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 500px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  background-color: pink;
}

/* Header */

.photo-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.name {
  color: #fff;
  font-size: 5rem;
  position: absolute;
  bottom: .1em;
  left: .2em;
  line-height: 100%;
  text-shadow: 1px 1px black; 
}

.about-me-title {
  text-align: center;
}

.about-me-text {
  opacity: .6;
  line-height: 150%;
}

.devicon-github-original {
  display: block;
  font-size: 2rem;
  text-align: center;
}

